*{
    font-family: Helvetica, sans-serif;
    text-align: center;
    }   

header{
    background-color: 90EE90;
    
}

img{
    width: 100px;
    height: 100px;
}

.navigationbar ul{
    background-color: 90EE90;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 5px dashed black;
}


a{
    font-weight: bold;
}

.formheader{
    text-align: center;
    align-items: center;
}

div.contactform{
    margin: 10px;
    border: 1px solid black;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}    
div.contactform label{ text-align:right; }

.space{
    font-size: 14px;
    background: lightgrey;
}

.submit {
  width: 30vw;
  align-self: center;
  background-color: green;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-weight: 600;
}
